body{
    background: rgba(20, 0, 255, 0.377);
}

p {
    margin: 0;
}

.container{
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.options {
    height: 20vh;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 15%;
}

.option {
    width: 30%;
    text-align: center;
}

.options:has(.option:only-child) {
    justify-content: center;
}

.option img {
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 5%;
}

.overlay a {
  display: inline;           /* ссылка остаётся словом */
  text-decoration: none;     
  color: yellow;             
  font-weight: bold;
}

.overlay a:hover {
  text-decoration: underline; /* подсветка при наведении */
}
